.home{
    background-color: #19BC9B;
    padding-top: 10% !important;
}

.home img{
    width: 20%;
}

.home h2{
    font-size: 40px;
    font-weight: 700;
}

.home .hr{
    width: 6%;
    border: 2px #fff solid !important;
    display: inline-block;
    background-color: #fff;
}

@media only screen and (min-width: 301px) and (max-width: 768px) { 
    .home{
    padding-top: 50% !important;
 }
    .home img{
        width: 75%;
    }
 }
